* {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}
html {
	box-sizing: border-box;
}
.wrap > div {
	border: 1px solid black;
}
p {
	font-size: 30px;
}
.logo {
	background-color: #F0BE2E;
}
.menu {
	background-color: #F40F0F;
}
.news {
	background-color: #AC4C4C;
	color: white;
}
.list {
	background-color: #f0be2e;
}
.nav {
	background-color: #333333;
	color: white;
}
.footer {
	background-color: #f0be2e;
}

/*GRID*/
.wrap {
	display: grid;
	grid-template-columns: 100px 0.65fr 0.35fr;
	grid-template-rows: 100px 300px 150px;
}
.wrap > div {
	display: grid;
	justify-content: center;
	align-items: center;
}
.menu {
	grid-column: 2 / 4;
}
.nav {
	grid-area: 2 / 3 / 4 / 4;
}
.footer {
	grid-column: 1 / 3;
}
