svg {
	width: 800px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@media screen and (max-width: 1800px){
	svg {
		width: 600px;
		height: 300px;
	}
}
@media screen and (max-width: 1200px){
	svg {
		width: 500px;
		height: 250px;
	}
}
@media screen and (max-width: 960px){
	svg {
		width: 400px;
		height: 200px;
	}
}
@media screen and (max-width: 768px){
	svg {
		width: 250px;
		height: 150px;
	}
}
@media screen and (max-width: 319px){
	svg {
		width: calc(100% - 20px);
	}
}