* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	line-height: 1;
	font-family: Arial, sans-serif;
	font-size: 14px;	
}
ul {
	text-decoration: none;
	list-style-type: none;
}
a {
	text-decoration: none;
	color: black;
}
input {
	background-color: #fbfbfb;
	border: 1px solid #edeaea;
	height: 20px;
	line-height: 20px;
}
textarea {
	background-color: #fbfbfb;
	border: 1px solid #edeaea;
}
select {
	background-color: #fbfbfb;
	border: 1px solid #edeaea;
}